html {
    font-family: 'system-ui'
}

.menu {
    color:hsl(350, 86%, 31%);
    font-weight: 200;
    background-color: hsl(0, 0%, 75%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

h1 {
    color: #fff;
}

.promotion {
    background-color: #fdb5c0;
    padding: 30px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.title-logo {
    /* font-weight: bold; */
    font-size: 18px;
}

.ads {
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.subtile {
    color: #fff;
}

body {
    background-color: #f5f7fb;
    margin: 0;
}

.img-container {
    display: flex;
    justify-content: flex-end;
}

.img-header {
    width: 74%;
}

.container {
    /* padding: 30px; */
}

.products-container {
    background-color: #f5f7fb;
    margin-top: 30px;
    padding: 30px;
}

.title-section {
    color: #102852;
    font-size: 24px;
    font-weight: bold;
}

.list-ads {
    margin-top: 30px;
}

.product-card {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}

.inner-card {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.description-card {
    margin-right: 80px;
    margin-left: 20px;
}

.title-card {
    color: #404042;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.price {
    margin-bottom: 6px;
    font-size: 14px;
}

.value {
    color: #f88064;
    font-size: 18px;
    font-weight: 500;
}

.price-container {
    margin-top: 18px;
}

.btn-buy {
    background-color: #f88064;
    border: none;
    box-shadow: 1px 7px 15px 5px #f880644a;
    padding: 8px 30px;
    border-radius: 40px;
    color: #Fff;
    margin-top: 20px;
    cursor: pointer;
}

.btn-buy:hover{
    background-color: #e77359;
}

input {
    width: 100%;
    border: 0px;
    padding: 6px;
    border-radius: 20px;
    margin-top: 10px;
    outline: none;
}

label {
    color: #fff;
    padding-left: 10px;
    font-size: 14px;
}

.input-area {
    margin-bottom: 20px;
    width: 100%;
    margin-right: 18px;
}

.form-container {
    margin-top: 30px;
}

.contaiter-inputs {
    display: flex;
}